/*CSS file mystyle.css*/

html {
    scroll-behavior: smooth;
}
body {
    background-color: #F9FFEA;
}
p {
    font-family: 'Roboto', sans-serif;
}
h2 {
    margin: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 42px;
    color: #bb5a5a;
    text-align: center;
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #df7861;
}

/* NAV BARS*/
#navbar {
    background-color: #f3d7ca;
    padding-left: 2%;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-brand, .nav-link, .nav-link dropdown-toggle, .dropdown-item {
    color: #A6D0E4;
}
.nav-link:hover , .dropdown-item:hover {
    color: #8ca6b3;
}
.dropdown-menu  {
    background-color: #ffecda;
}
.dropdown-menu:hover {
    background-color: #ffecda;
}

/* HOME PAGE*/
#webname {
    font-family: 'Carter One', cursive;
    color: #d4a5a6;
    background-color: #ffecda;
    text-align: center;
    padding: 10px;
}
#about {
    height: 100vh;
    padding: 5%;
    display: flex;
    margin: 0 auto
}
#introduction {
    color: #c86b85;
    padding: 2vh;
}
#gallery {
    height: 100vh;
    padding-left: 2vh;
    padding-right: 2vh;
    color: #d4a5a6;
    margin-bottom: 20px;
}

#gallerytitle {
    text-align: center;
    font-size: 36px;
}

#carouselExampleIndicators {
    margin-bottom: 20px;
    width: auto;
}

.carousel-inner {
    height: 80vh;
}
.carousel-item, .carousel-item active {
    height: 100%;
    width:100%;
}

#contact {
    height: 50vh;
    margin-left: 10px;
    padding-left: 2vh;
    padding-right: 2vh;
    color: #d4a5a6;
    margin-bottom: 20px;
}

p {
    margin-left: 10px;
    text-align: justify;
}
/* BOOKS PAGE */
.booktitle {
    margin-left: 4vw;
    padding: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e79e85;
}
.poster {
    padding-left: 10vh;
    padding-right: 10vh;
    margin-bottom: 15px;
}
.bookreview {
    text-align: center;
    color: #825959;
    margin-bottom: 40px;
}
.booksummary {
    color: #825959;
    width: 80%;
}

/* MOVIES PAGE */
.movietitle {
    padding: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e79e85;
}
.poster {
    padding-left: 10vh;
    padding-right: 10vh;
    margin-bottom: 15px;
}
.moviereview {
    color: #825959;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
}
.moviesummary {
    color: #825959;
    padding-right: 10vw;
}

/* SERIES PAGE */
.seriestitle {
    margin-left: 4vw;;
    padding: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e79e85;
}

.seriesreview {
    color: #825959;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
}
.seriessummary {
    color: #825959;
    width: 80%;
}

/* K-POP PAGE */
.kh2 {
    padding: 2vh
}
#h2boy {
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
    margin: 10px;
    color: #8ac6d1;
}
#hsvt {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #b2deec;
}
#svtimage {
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-evenly;
}
.svtpic {
    margin:auto;
}
.ksummary {
    color: #794c74;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 5vh;
    text-align: center;
}
#readmore {
    justify-content: center;
}
#more {
    display: none;
}
#disco {
    padding: 5vh;
}
#disctitle {
    margin-bottom: 10px;
    margin-top: 20px;
    color: #484c7f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#semisum {
    color: #794c74;
}
.utubelink {
    margin: 40px;
    display: flex;
    justify-content: center;
}

#hdc {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #bb5a5a;
}
#dcimage {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 2vh;
}
